body {
  font-family: helvetica;
  font-weight: bold;
  background-color: white;
}

.project-title{
  max-width: 800px;
  padding: 1em;
  margin: auto;
  margin-top: 1em;
  background-color: white;

}

.project-title h1 {
  text-align: center;
  font-size: 3em;
}

.project-text{
}

form {
  max-width: 400px;
  margin: auto;
}

.container {
  margin-top: 1em;
}

.home-greeting {
  padding: 1em;
  max-width: 600px;
  margin: auto;
  text-align: center;
  background-color: white;
  color: 616668;
}

.contact-info {
  padding: 1em;
  max-width: 400px;
  margin: auto;
  text-align: center;
  background-color: white;
  color: 616668;
}

.contact-info p {
  padding: 0px;
  margin: 0px;
}

.contact-info a {
  color: #3EC9A7;
}
.contact-info a:hover {
  color: #2B879E;
}
