@import url('https://fonts.googleapis.com/css?family=Questrial');


body {
  font-family: 'Questrial', sans-serif;
  font-weight: bolder;
  background-color: #3A99D9;
}

.portfolio-page{
  width: 100%;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
}

.project-title{
  max-width: 350px;
  padding: 1em;
  padding-left: 2em;
  padding-right: 2em;
  margin-top: 1em;
  margin-left: 1em;
  margin-right:1em;
  background-color: #3A99D9;
  color: white;
  border-color: white;
  border-style: solid;
  border-width: thick;

}

.project-title h1 {

}

.side-display{
 max-width: 800px;
 justify-content: center;
}

form {
  max-width: 400px;
  margin: auto;
}

.container {
  margin-top: 1em;
}

.home-greeting {
  padding: 1em;
  max-width: 600px;
  margin: auto;
  margin-top: 2em;
  text-align: center;
  background-color: #3A99D9;
  color: white;
  border-color: white;
  border-style: solid;
  border-width: thick;
}

.contact-info {
  padding: 1em;
  max-width: 400px;
  margin: auto;
  margin-top: 1em;
  text-align: center;
  background-color: #3A99D9;
  color: white;
  border-color: white;
  border-style: solid;
  border-width: thick;
}

.contact-info p {
  padding: 0px;
  margin: 0px;
}

.contact-info a {
  color: white;
  text-decoration: underline;
}
.contact-info a:hover {
  color: white;
}


div {
  animation: rotate-all 2s 0 infinite linear alternate;
}

.div1 {
  width: 80px;
  height: 80px;
  background-color: #3A99D9;
  position: relative;
  margin: auto;
  animation: square-to-circle 5.5s 2.5s infinite cubic-bezier(1,.015,.295,1.225) alternate-reverse;

}

.div2 {
  width: 80px;
  height: 80px;
  background-color: #3A99D9;
  position: relative;
  margin: auto;
  animation: square-to-circle2 5.5s 2.42s infinite cubic-bezier(1,.015,.295,1.225) alternate-reverse;
}

#one {
  top: 50px;
}

#two {
  top: 50px;
  right: 80px;
}

#three {
  top: 50px;
}

#four {
  bottom: 110px;
  left: 80px;
}


@keyframes square-to-circle {
  0%  {
    border-radius:0 0 0 0;
    background: white;
    transform:rotate(45deg);
  }
  25%  {
    border-radius:50% 0 0 0;
    background: white;
    transform:rotate(135deg);
  }
  50%  {
    border-radius:50% 50% 0 0;
    background: white;
    transform:rotate(180deg);
  }
  75%  {
    border-radius:50% 50% 50% 0;
    background: white;
    transform:rotate(315deg);
  }
  100% {
    border-radius:50%;
    background: white;
    transform:rotate(404deg);
  }
}

@keyframes square-to-circle2 {
  0%  {
    border-radius:0 0 0 0;
    background: white;
    transform:rotate(45deg);
  }
  25%  {
    border-radius:0 0 50% 0;
    background: white;
    transform:rotate(135deg);
  }
  50%  {
    border-radius:0 0 50% 50%;
    background: white;
    transform:rotate(180deg);
  }
  75%  {
    border-radius:50% 0 50% 50%;
    background: white;
    transform:rotate(315deg);
  }
  100% {
    border-radius:50%;
    background: white;
    transform:rotate(404deg);
  }
}


ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: #3A99D9;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #3A99D9; color: white}

ul.topnav li a.active {background-color: #3A99D9; color: white}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right,
    ul.topnav li {float: none;}
}

.container {

    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

.project-title {

    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
